html{
    display: flex;
    align-items: center;
    width: 100%;
}
body{
	background-color: #fafafa;
	min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
	display: flex;
    align-items: center;
	flex-direction: column;
    font-family: 'Barlow', sans-serif;
}

/*---------------------------------Navbar------------------------------------*/
.header_top{
    width: 100%;
    background-image: url("./img/featured.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin-bottom: 5rem;
    flex-direction: column;
    align-items: center;
    aspect-ratio: 16/9, auto;
}
.navbar{
    width: 90%;
    margin:1rem 2rem 0 2rem;
    position: relative;
    height: 5rem;
    display: flex;
    justify-content: space-between;  
}
.logo_holder{
    width: 6rem; 
    height: 4rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: #0465e2;
    cursor: pointer;
}
.logo{
    height: 100%;
}
.logo_holder:hover{
    width: 6rem; 
    height: 5rem;
    transition: linear 0.3s;
}
.nav_menu{
    position: relative;
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
}
.menu{
    font-weight: 500;
    font-size: 1.15rem;
    color:#999999;
    margin: auto 2rem auto 0;
    cursor: pointer;
}
.menu:hover{
    font-weight: 500;
    font-size: 1.2rem;
    color:#464646;
    margin-right: 2rem;
    transition: linear 0.3s;
    text-decoration:underline;
}
.right_menu{
    width:40%;
    display: flex;
    justify-content: flex-end;
}
.custom_print_button{
    width: 10rem;
    height: 3rem;
    margin: 1rem 3rem 0 0;
    background: linear-gradient(90deg, #c51930 0%, #d1a341 90%);
    border: none;
    color: rgb(238, 238, 238);
    border-radius: 0.5rem;
    font-size: 1.05rem;
    cursor: pointer;
}
.custom_print_button:hover{
    background: #c4952f;
}
.signin{
    width: 6rem;
    height: 3rem;
    margin: 1rem 3rem 0 0;
    background: rgb(56, 56, 56);
    color: rgb(224, 224, 224);
    border: none;
    border-radius: 0.5rem;
    font-size: 1.05rem;
    cursor: pointer;
}
.signin:hover{
    background:  rgb(10, 81, 173);
    color: rgb(224, 224, 224);
}
.cart{
    position: relative;
    width: 2rem;
    margin-top: 1rem;
    text-align: center;
}
.cart_quantity{
    position: absolute;
    right: 0.25rem;
    top: -0.55rem;
    color:rgb(10, 81, 173);
    font-size: 1.2rem;
    font-weight: 500;
}
.cart_icon{
    position: inherit;
    font-size: 2.75rem;
    color: rgb(56, 56, 56);
    cursor: pointer;
}
.cart_icon:hover{
    font-size: 3rem;
    color:rgb(10, 81, 173);
    transition: linear 0.3s;
}

/*---------------------------------CTO------------------------------------*/
.CTO{
    width: 75%;
    margin-top: 6rem;
}
.CTO h1{
    font-size: 3.5rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 4rem;
}
.CTO h2{
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
    margin-bottom: 5rem;
    color: #585858;
}
.CTO_button{
    padding: 1rem 2rem;
    margin-bottom: 6rem;
    background: rgb(49, 146, 243);
    background: linear-gradient(-90deg, rgb(18, 131, 245) 0%, rgb(10, 81, 173) 61%);
    border: none;
    border-radius: 2rem;
    color: rgb(238, 238, 238);
    font-size: 1rem;
    cursor: pointer;
    filter: drop-shadow(1px 5px 4px #afafaf);
}
.CTO_button:hover{
    background: rgb(18, 131, 245);
}

/*---------------------------------Divider------------------------------------*/
.divider{
    background-image: url("./img/img-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.75rem;
    margin-top: 0rem;
    width: 85%;
    height: 20rem;
    margin-bottom: 5rem;
}
.discover{
    color: rgb(238, 238, 238);
    width: 50%;
    margin: 4.5% 0 auto 6%;
}
.discover_text{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}
.discover_button{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: rgb(238, 238, 238);
    border: none;
    border-radius: 2rem;
    background: linear-gradient(90deg, #c51930 10%, #c4952f 90%);
    cursor: pointer;
}
.discover_button:hover{
    background: #c4952f;
}

/*---------------------------------Shop by Collection------------------------------------*/
.shop{
    width: 85%;
}
.shop_by{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom:1rem;
    align-items: center;
}
.shop_by P{
    font-size: 1.75rem;
    font-weight: 700;
    margin: 5px;
}
.shop_by button{
    padding: 0.7rem 1.2rem;
    font-size: 1rem;
    background: none;
    border: 1px solid #c4952f;
    border-radius: 2rem;
    cursor: pointer;
}
.shop_by button:hover{
    color: rgb(238, 238, 238);
    background: #c4952f;
    border: none;
}
.category{
    margin: 0;
    padding: 0;
    margin-bottom: 5.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: start;
    gap: 2rem;
    min-height: 17rem;
}
.category_card{
    border-radius: 1rem;
    align-items: center;
    background: hsl(0, 0%, 98%);
    padding:0.25rem 0.25rem 0.25rem 0.25rem;
    filter: drop-shadow(.3rem .4rem .5rem #d3d3d3);
    cursor: pointer;
    color: #494949;
}
.category_img{
    width: 100%;
    border-radius: .75rem .75rem 0.2rem 0.2rem;
}

.category_name{
    margin-left: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 0.5rem;
}
.category_card:hover{
    color:#c51930;
    filter: drop-shadow(0.35rem .4rem 0.5rem #d3d3d3);
    width: 101%;
}




@media only screen and (max-width: 968px) {
    .navbar{
        display: none;
    }
}
